* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
  
  }
  

html,body{
    height: 100%;
    width: 100%;
    
    /* background-color: lightgrey; */
}

/* logo */
.navbar-header .navbar-brand {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    height: 60px;
    padding-top: 18px;
}

/* h1,h2,h3,.navbar,p,row,col-xs-6,div{
    margin: 0px;
    padding: 0px;
} */

/* background section month selection, budget selection and weather selection */

#monthId, #budgetId,#weatherId{
    /* so it doesn't hide under the navbar */
    /* padding-top: 60px;   */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    /* background-color: #777777; */
}

#monthId{
    background: url("../images/amsterdam.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#budgetId{
    background: url("../images/budget.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#weatherId{
    background: url("../images/weather.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* I added an overlay to make the text more readeble */
.overlay1, .overlay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    /* background-color: rgba(0,0,0,0.4); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}

.overlay{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.overlay1{
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));    
}

/*common to the three sections*/

.titleInput{
    margin-bottom: 20px;
    color:white;
    font-size: 20px;
    font-weight: 600;
    width: 60%;
}

#monthSelector, #maxBudget, #maxTemp, #minTemp {
    width: 300px;
    font-size: 18px;
    height: 40px;
    border: none;
}


.button{
    border-radius: 25px;
    width: 250px;
    font-size: 15px;
    font-weight:800;
    height: 60px;
    margin:20px 30px 0px 30px;
    box-sizing: border-box;
}


/* month section */

#monthId h1{
    color:white;
    font-size: 60px;
    font-weight: 400;
    width: 60%;
   }

#monthId p{
    color:white;
    font-size: 20px;
    font-weight: 400;
    width:60%;
    background-color: rgba(0,0,0,0.3);
    padding: 5px;
    margin: 15px;
    box-sizing: border-box; 
    padding: 15px;
    margin: 35px;
    box-sizing: border-box;

}

#monthSelector option{
    text-align: center;
}


/* weather section */

.inputBlock{
display: flex;
}



/* sidebar */
.sidebar ul.nav li a {
    height: 80px;
}

.buttonsSide{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.form-group input{
    margin: 10px 0px;
}

.filterSideBar{
    margin:20px 0px;
    
}

.nav>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover {
    background-color:transparent;
}

.nav>li>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.faSide{
    font-size:36px;
    color:grey;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.faSide:hover{
    color:#52a9ec;
}





/* charts section */

#grafId {
    /* so it doesnt hide under the navBar */
    /* margin-top: 80px;   */
    height: 100vh;
    width: 100vw;
}

/* title and reset button */
.reset{
    text-align: right;
    margin-top: 20px;
}

/* filters */

.dc-select-menu {
    width: 90%;
    border: none;
    overflow: auto;
    background: white;
    text-align: center;
    font-size: 12px;
}

.filters{
    margin-bottom: 10px;
}

.filterTitles{
   color:#808589;
   font-size: 16px;
   font-weight: 400;
   padding-bottom:10px; 
}


/* numberDisplays */

.numberDisplay{
    color:black;
    font-size:26px;
    margin:15px;
}


.number-display{
    font-size: 25px;
}

.color-pink{
    color: rgb(221, 15, 125)
}
   
.color-purple{ 
    color: rgb(131, 27, 150) 
}
    
   
   
.text-muted {
     color: #a7a1a1;
}
    
.NumberDisplays{
     background-color: transparent;
     margin-bottom: 0px;
     padding:0px;
}

.border-right {
     border:none;
}
    
.row:before {
    display: none;
}



/*chart panels*/

.canvas-wrapper{
    width:100%;
    height: 100%;
    padding: 25px;
}

.panel-widget {
    padding: 0px;
}

.panel-widget .large {
    font-size: 2em;
}
.panel-widget .text-muted {
        margin-top: 0px; 
}

.panel-heading {
    font-size: 15px;
    line-height: 20px;
    display: flex;
    margin: 0px;
}

.pull-right{
text-align: right;
}

.panel-toggle {
    border: none;
    color: #30a5ff;
}

.panel-toggle:hover {
    background: transparent;
    color: #52a9ec;
}












/* how to rotate the labels so they fit well in the screen
https://github.com/dc-js/dc.js/issues/731
*/
#dailyBudget_Temp .x.axis text, #rowChart .x.axis text{
    text-anchor: end !important;
    transform: rotate(-45deg);
    /* font-size: 1em; */
}

#dailyBudget_Temp .y.axis text{
    /* font-size: 1em; */
}



/* table */

.table{
    font-size: 10px;
    text-align: center;
}


/*jquery classes*/
/*weather, budget and graphics sections are hiden at the beggining*/

.hide {
    display: none;
}

/*********************************** FIX THIS!!!!!******************/
/*after adding this the charts overflow the parent div */



/* #rowChart{
    height:60vh;

}

#dailyBudget_Temp, #currency_precipitation,#correlation{
    height:23vh;

} */


