* {
    box-sizing: border-box;
    margin:0px;
    padding: 0px;
  }
  

html,body{
    height: 100%;
    width: 100%;
    
    /* background-color: lightgrey; */
}

/* logo */
.navbar-header .navbar-brand {
    color: #fff;
    font-size: 20px;
    text-transform: capitalize;
    font-weight: 500;
    height: 60px;
    padding-top: 18px;
}

/* h1,h2,h3,.navbar,p,row,col-xs-6,div{
    margin: 0px;
    padding: 0px;
} */

/* background section month selection, budget selection and weather selection */

  .navbar{
    margin: 0px;
    
 } 

 .navbar ul {
    position:absolute;
    right:10px;
    }



.navbar-right{
    float:right;
}


.borderSocial {
    background: rgba(255, 255, 255, 0.1);
    float: left;
    margin: 10px 8px;
    padding: 0px;
    border-radius: 4px;
}


.social{
    color: #fff;
    height: 40px;
    width: 40px;
    padding-top: 11px;
    padding-left: 9px;
}







#monthId, #budgetId,#weatherId{
    /* so it doesn't hide under the navbar */
    /* padding-top: 60px;   */
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
    /* background-color: #777777; */
}

#monthId{
    background: url("../images/amsterdam.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#budgetId{
    background: url("../images/budget.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}


#weatherId{
    background: url("../images/weather.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* I added an overlay to make the text more readeble */
.overlay1, .overlay{
    width: 100%;
    height: 100%;
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
    /* background-color: rgba(0,0,0,0.4); */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    text-align: center;
}

.overlay{
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5), rgba(0,0,0,0));
}

.overlay1{
    background-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));    
}

/*common to the three sections*/

.titleInput{
    margin-bottom: 20px;
    color:white;
    font-size: 20px;
    font-weight: 600;
    width: 60%;
}

#monthSelector, #maxBudget, #maxTemp, #minTemp {
    width: 300px;
    font-size: 18px;
    height: 40px;
    border: none;
}


.button{
    border-radius: 25px;
    width: 250px;
    font-size: 1.1em;
    font-weight:800;
    height: 60px;
    margin:20px 30px 0px 30px;
    box-sizing: border-box;
}


/* month section */

#monthId h1{
    color:white;
    font-weight: 400;
    width: 60%;
   }

#monthId p{
    color:white;
    font-size: 20px;
    font-weight: 400;
    width:60%;
    background-color: rgba(0,0,0,0.3);
    padding: 5px;
    margin: 15px;
    box-sizing: border-box; 
    padding: 15px;
    margin: 35px;
    box-sizing: border-box;

}

#monthSelector option{
    text-align: center;
}


/* weather section */

.inputBlock{
display: flex;
}



/* sidebar */
.sidebar ul.nav li a {
    height: 80px;
}

.buttonsSide{
    display: flex;
    flex-direction: column; 
    align-items: center;
    justify-content: center;
}

.form-group input{
    margin: 10px 0px;
}

.filterSideBar{
    margin:20px 0px;
    
}

.nav>li {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover {
    background-color:transparent;
}

.nav>li>a{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.faSide{
    font-size:36px;
    color:grey;
    transition: all .3s ease-in-out;
    -webkit-transition: all .3s ease-in-out;
    -moz-transition: all .3s ease-in-out;
    -o-transition: all .3s ease-in-out;
}

.faSide:hover{
    color:#52a9ec;
}





/* charts section */

#grafId {
    /* so it doesnt hide under the navBar */
    /* margin-top: 80px;   */
    height: 100vh;
    width: 100vw;
}

/* title and reset button */
.reset{
    text-align: right;
    margin-top: 20px;
}

/* filters */

.dc-select-menu {
    width: 90%;
    border: none;
    overflow: auto;
    background: white;
    text-align: center;
    font-size: 12px;
}

.filters{
    margin-bottom: 10px;
}

.filterTitles{
   color:#808589;
   font-size: 16px;
   font-weight: 400;
   padding-bottom:10px; 
}


/* numberDisplays */

.numberDisplay{
    color:black;
    font-size:26px;
    margin:15px;
}


.number-display{
    font-size: 25px;
}

.color-lightblue{
    color:#30a5ff;
}


.color-blue{
    color:#006B99;
}

.color-green{
    color:#0E9E8D;
}


.color-yellow{
    color:#F2C44F;
}

.color-orange{
    color:#F4994E;
}

.color-red{
    color:#E86443;
}


.color-purple{ 
    color: rgb(131, 27, 150) 
}
    
   
   
.text-muted {
     color: #a7a1a1;
}
    
.NumberDisplays{
     background-color: transparent;
     margin-bottom: 0px;
     padding:0px;
}

.border-right {
     border:none;
}
    
.row:before {
    display: none;
}



/*chart panels*/

.panel-widget {
    padding: 0px;
}

.panel-widget .large {
    font-size: 2em;
}
.panel-widget .text-muted {
        margin-top: 0px; 
}

.panel-heading {
    font-size: 15px;
    line-height: 20px;
    display: flex;
    margin: 0px;
}

.pull-right{
text-align: right;
}

.panel-toggle {
    border: none;
    color: #30a5ff;
}

.panel-toggle:hover {
    background: transparent;
    color: #52a9ec;
}


/* row chart */


/*for small screens*/


/*chart axis style*/
path.domain{
    stroke:rgb(0, 0, 0);
    fill:none;
    stroke-width: 0.8;
    }

    
#dailyBudget_Temp path{
    fill:none;
    }
 
    /*styles temp chart*/
.stack-list .line{
stroke-width: 2;
stroke-linecap:round;
        }
     
 #dailyBudget_Temp .axis{
    font-size: 0.8em;    

} 

.dc-legend-item{
    font-size: 0.8em; 
}


.x-axis-label, .y-axis-label{
 font-weight: bold;
 font-size: 0.9em; 

}
.axis{
    font-size: 0.8em;    

}






/* how to rotate the labels so they fit well in the screen
https://github.com/dc-js/dc.js/issues/731
*/
#dailyBudget_Temp .x.axis text, #rowChart .x.axis text{
    text-anchor: end !important;
    transform: rotate(-45deg);
    /* font-size: 1em; */
}




/* table */

.table{
    font-size: 10px;
    text-align: center;
}


/*jquery classes*/
/*weather, budget and graphics sections are hiden at the beggining*/

.hide {
    display: none;
}

/*********************************** FIX THIS!!!!!******************/
/*after adding this the charts overflow the parent div */



/* #rowChart{
    height:60vh;

}

#dailyBudget_Temp, #currency_precipitation,#correlation{
    height:23vh;

} */




.table-hover{
font-size:.6em;
text-align: center;
}

.email-button{
background-color: transparent;
border:none;
color:grey;
}

/* .email-button, .email-button:hover, .email-button:focus, .email-button:active, .email-button:active:focus{
    background-color: transparent;
    border:none;
    border-color: transparent;
    box-shadow:none;
    } */

    .email-button:hover{
        color: #52a9ec;
    }
    .email-button:focus{
        text-decoration: none;
    }


}
.btn-primary, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, .open > .dropdown-toggle.btn-primary, .btn-primary.disabled, .btn-primary[disabled], fieldset[disabled] .btn-primary, .btn-primary.disabled:hover, .btn-primary[disabled]:hover, fieldset[disabled] .btn-primary:hover, .btn-primary.disabled:focus, .btn-primary[disabled]:focus, fieldset[disabled] .btn-primary:focus, .btn-primary.disabled:active, .btn-primary[disabled]:active, fieldset[disabled] .btn-primary:active, .btn-primary.disabled.active, .btn-primary[disabled].active, fieldset[disabled] .btn-primary.active {
        color: #fff;
        background-color:transparent;
        border-color:transparent;
    }