html,body{
    height: 100%;
    width: 100%;
    /* background-color: lightgrey; */
}

#monthId{
    /* color:white; */

    height: 100vh;
    width: 100vw;
    background: url("../images/amsterdam2.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column; 
    /* background-color: #777777; */
}



#monthId h3{
    color:white;
    font-size: 40px;
    font-weight: 900;
}

#monthId h2{
    color:white;
 font-size: 30px;
 font-weight: 400;
}

#monthId p{
    color:white;
    font-size: 20px;
    font-weight: 700;
width:60%;
text-align: center;
}



#budgetId {
    padding: 25px;

    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: rgb(195, 199, 199); */
}

#weatherId {
    padding: 25px;

    height: 80vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* background-color: lightblue; */
}

#grafId {
    height: 100vh;
    width: 100vw;
    padding: 25px;

    /* background-color: lightgrey; */

}


/*weather, budget and graphics sections are hiden at the beggining*/

.hide {
    display: none;
}



select {
    color: black;
}


/* how to rotate the labels so they fit well in the screen
https://github.com/dc-js/dc.js/issues/731
*/
#dailyBudget_Temp .x.axis text{
    text-anchor: end !important;
    transform: rotate(-45deg);
}

.numberDisplay{
    color:black;
    font-size:26px;
    margin:15px;
}

.table{
    font-size: 10px;
    text-align: center;
}

.number-display{
    font-size: 25px;
}

.dc-select-menu {
    width: 100%;
    height:200px;
    border: none;
    overflow: auto;
    background: white;
    /* display: inline-block; */
    text-align: center;
    font-size: 15px;
}

.reset{
   margin-top: 50px;
    text-align: right;
}