html,
body {
    height: 100%;
}

.jumbotron {
    height: 100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}


.graphsSection {
    height: 100vh;
    width: 100vw;
    background-color: lightgrey;
}

.monthSelector {
    display: block;
}


select {
    color: black;
    background-color: white;
}


/* how to rotate the labels so they fit well in the screen
https://github.com/dc-js/dc.js/issues/731
*/
#totalDailyBudget .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
}

