* {
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html, body {
    margin: 0px;
    padding: 0px;
    height: 100%;
    width: 100%;
}

.col-xs-6, .col-sm-10 {
    padding: 0px;
}

/* ************************  HEADER************************** */
.navbar {
    margin: 0px;
}

/* logo */
.navbar-header .navbar-brand {
    font-size: 1.8em;
    text-transform: capitalize;
    font-weight: 500;
    margin-left: 15px;
}

.navbar-default {
    background-color: transparent;
    border-color: transparent;
}

/* humburguer button */
.navbar-default .navbar-toggle {
    border-color: transparent;
    background: transparent;
    width: 60px;
    height: 42px;
}

.navbar-default .navbar-toggle:hover, .navbar-default .navbar-toggle:focus {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    background-color: white;
    height: 0.3em;
    width: 2em;
    border-radius: 5px;
}

#navbar-collapse-1 {
    max-height: 100%;
}

#navbar-collapse-1 .visible-xs {
    background-color: #222222;
    color: white;
    margin-top: 0px;
}

.navbar-collapse .nav>.menu-item {
    padding-top: 1.2em;
    padding-bottom: 1.2em;
    font-size: 0.8em;
    border-bottom: 1px solid white;
}

#navbar-collapse-1 .nav>li, .navbar-collapse .nav>li>a {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.navbar-collapse .nav>.dropdown {
    background-color: rgb(7, 125, 204);
    padding-top: 1.2em;
    margin: 0px;
    font-size: 0.8em;
    border-radius: 0;
}

.caret {
    margin-top: 1em;
    padding-bottom: 1em;
}

.navbar-collapse .nav>.dropdown>.dropdown-menu {
    width: 100%;
}

.navbar-collapse .nav>.dropdown>.dropdown-menu>li {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-right: 15px;
    border-top: 0.1px solid white;
}

.navbar-collapse .nav>.dropdown>.dropdown-menu>li>a {
    color: #fff;
    font-size: 0.8em;
}

/* contact US button */
.navbar-collapse .nav>.menu-item button {
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: none;
    box-shadow: none;
    outline: none;
}

/* hamburguer button - social media links*/
.navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover, .navbar-default .navbar-nav>.open>a, .navbar-default .navbar-nav>.open>a:focus, .navbar-default .navbar-nav>.open>a:hover {
    color: white;
    background-color: transparent;
}

.navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover, .navbar-default .navbar-nav>li>a {
    color: white;
}

.dropdown a.dropdown-toggle, .dropdown, .dropdown a {
    width: 100%;
    text-align: center;
}

/* social media icons  - desktop screens*/
.navbar-collapse .navbar-right {
    margin-right: 25px;
    background-color: transparent;
}

.borderSocial {
    background: rgba(255, 255, 255, 0.1);
    float: left;
    position: relative;
    height: 40px;
    width: 40px;
    margin: 10px 8px;
    padding: 10px;
    border-radius: 8px;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.borderSocial:hover {
    background: rgba(255, 255, 255, 0.2);
}

.social, .social:hover, .social:focus, .social:active {
    position: absolute;
    height: 100%;
    width: 100%;
    color: #fff;
    padding-left: 5px;
}

/* *******************  month, budget and weather selection sections ******************** */
/* background section month selection, budget selection and weather selection and info-message screen */

/* I'm using the css tricks from the link below in order to display properly the website in landscape mode*/
/* https://css-tricks.com/snippets/css/media-queries-for-standard-devices/ */

/* ----------- using this min and max device-width seems to work fine for most devices ----------- */
@media only screen 
  and (min-device-width: 100px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
    #monthId, #budgetId, #weatherId, #messages{
        display: flex;
    }
    .wrapper-section {
        margin-top:0px;
        padding-top:80px;
        padding-bottom:80px;
    }
}

@media only screen 
  and (min-device-width: 100px) 
  and (max-device-width: 767px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
    #monthId, #budgetId, #weatherId, #messages{
        height: 100vh;
        width: 100vw;
        display: flex;
    }
    .wrapper-section {
        height: 80%;
        margin-top:100px;
        padding-bottom:40px;
    }
}

@media (min-width: 768px)  {
    #monthId, #budgetId, #weatherId, #messages{
        height: 100vh;
        width: 100vw;
        display: flex;
    }
    .wrapper-section {
        height: 80%;
        margin-top:80px;
        padding-bottom:40px;
    }
}

/* image for the month selection section */
#monthId {
    background: url("../../images/amsterdam.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* image for the budget selection section */
#budgetId {
    background: url("../../images/budget.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* image for the weather selection section */
#weatherId {
    background: url("../../images/weather.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* image for the info-message screen - mobile*/
#messages{
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sad {
    background: url("../../images/sad-mobile.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.happy {
    background: url("../../images/happy-mobile.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

/* image for the info-message screen - desktop*/
@media (min-width: 768px) {
    .sad {
        height: 100vh;
        width: 100vw;
        background: url("../../images/sad.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .happy {
        height: 100vh;
        width: 100vw;
        background: url("../../images/happy.jpg") no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
}

/* I added an overlay on top of the images to make the text easier to read */
.overlay1, .overlay {
    width: 100%;
    height: 100%;
}
/* darker overlay for the month selection section */
.overlay1 {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
/* overlay for the budget and weather selection sections */
.overlay {
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0));
}

/* to wrap the content in month, budget and weather selection screens*/
.wrapper-section {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.titleInput {
    margin-bottom: 20px;
    margin-top: 10px;
    color: white;
    font-size: 1em;
    font-weight: 600;
    text-shadow: 1px 1px #000000;

}

#monthId .titleInput, #budgetId .titleInput{
    width: 65%;
}

/* input fields */
#monthSelector, #maxBudget, #maxTemp, #minTemp {
    font-size: 12px;
    height: 35px;
    border: none;
}

#monthSelector {
    width: 150px;
    margin-bottom: 10px;
}

#maxBudget, #maxTemp, #minTemp {
    width: 90px;
    height: 35px;
}

#maxBudget {
    margin-bottom: 10px;
}

/* month selection section */
#monthId h1 {
    color: white;
    font-weight: 400;
    width: 100%;
    font-size: 1.5em;
    text-shadow: 1px 1px #000000;
}

/* month, budget and weather selection sections - text wrapper - added to make text easier to read*/
.wrapper-text, .wrapper-text-budget-weather {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    width: 70%;
    padding: 15px;
    margin: 15px;
    box-sizing: border-box;
}

.wrapper-text {
    background-color: rgba(0, 0, 0, 0.6);
}

.wrapper-text-budget-weather {
    background-color: rgba(0, 0, 0, 0.2);
}

#monthId p, #budgetId p, #weatherId p, #budgetId ul li {
    color: white;
    font-size: 0.9em;
    font-weight: 400;
}

#monthId p, #budgetId p, #weatherId p{
    margin:8px;
}

#budgetId ul{
    padding-left: 35px;
}

#budgetId ul li {
    list-style-type: circle;
    font-size: 0.8em;
}

small {
    font-size: 75%;
}

#monthId p a {
    font-weight: 900;
    color: #30a5ff;
}

/* weather section input*/
.inputBlock {
    display: inline-block;
    width: 80%;
    padding-bottom: 15px;
}
.inputBlock label{
    margin-right: 20px;
}

@media (min-width: 768px){
    #monthId h1 {
        font-size: 2em;
    }
    .wrapper-text, .wrapper-text-budget-weather {
         margin: 25px; 
    }
    .titleInput {
        font-size: 1.6em;
        margin-bottom: 35px;
    }
    #monthId p, #budgetId p, #weatherId p {
        font-size: 1em;
        margin: 10px;
    }
    #monthId .small {
        font-size: 0.9em;
    }
    #monthSelector, #maxBudget, #maxTemp, #minTemp {
        font-size: 18px;
        height: 45px;
        margin-bottom: 25px;
    }
}

@media (min-width: 1200px) {
    #monthId p, #budgetId p, #weatherId p {
        font-size: 1.2em;
    }
    #monthId .small {
        font-size: 1em;
    }
    .wrapper-text, .wrapper-text-budget-weather {
        width: 48%;
    }
}

/* ************************************** buttons *******************************  */
/* all */
.btn-info.focus, .btn-info:focus, .btn-info:active:focus, .btn-success.focus, .btn-success:focus, .btn-success:active:focus {
    border-color: transparent;
    outline: none;
    box-shadow: none;
}

.button {
    border-radius: 20px;
    width: 14em;
    height: 3.5em;
    font-size: 0.9em;
    font-weight: 800;
    margin: 15px 20px 0px 20px;
    box-sizing: border-box;
    outline: none;
}

@media (min-width: 768px) {
    .button {
        font-size: 1.1em;
    }
}

/*reset button */
.reset {
    text-align: right;
    margin-top: 20px;
}

.reset .btn-info {
    margin-right: 15px;
}

/* sidebar buttons */
.sidebar .btn-success {
    background-color: #0e9e8d;
    border-color: #0e9e8d;
    padding: 4px;
    margin: 15px 0px 10px 0px;
}

.btn-primary {
    background-color: transparent;
    border: none;
    color: grey;
}

.btn-primary.active.focus, .btn-primary:focus, .btn-primary.focus, .btn-primary:active.focus, .btn-primary:active:focus, .btn-primary:focus, .btn-primary:active, .btn-primary, .btn-primary:hover {
    outline: none;
    background-color: transparent;
    text-decoration: none;
    border-color: transparent;
    box-shadow: none;
}

/* ******************* sidebar for dashboards - only visible in desktop ************* */
.sidebar {
    overflow: visible;
    box-shadow: 1px 1px 7px #dedede;
}

.sidebar ul {
    margin: 0px;
}

.sidebar li {
    text-align: center;
    padding-bottom: 15px;
}

.sidebar ul.nav a:hover, .sidebar ul.nav li.parent ul li a:hover {
    background-color: transparent;
}

.sidebar h4 {
    padding-bottom: 8px;
    font-size: 0.9em;
    font-weight: 400;
}

@media (min-width: 1200px) {
    .sidebar h4 {
        font-size: 0.8em;
    }
}

.sidebar ul.nav li a {
    height: 100%;
}

.sidebar ul.nav ul.children {
    background: transparent;
}

.sidebar ul.nav ul.children .budget, .sidebar ul.nav ul.children .weather {
    padding-top: 10px;
    margin: 0px 5px;
    background: #ededed;
}

.sidebar .form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 0px;
}

.sidebar label {
    padding-top: 10px;
    font-size: 0.8em;
    font-weight: 800;
}

.sidebar input {
    width: 80px;
    height: 33px;
}

.faSide {
    font-size: 36px;
    color: grey;
    transition: all .5s ease-in-out;
    -webkit-transition: all .5s ease-in-out;
    -moz-transition: all .5s ease-in-out;
    -o-transition: all .5s ease-in-out;
}

.faSide:hover {
    color: #52a9ec;
}

/* ******************************* Dashboard section *************************** */
#grafId {
    /* so it doesn't hide under the navbar */
    margin-top: 60px;
    height: 100vh;
    width: 100vw;
}

/* dc select menus - filter by region, country and city */
.dc-select-menu {
    width: 90%;
    border: none;
    overflow: auto;
    background: white;
    text-align: center;
    font-size: 12px;
    margin-right: 0px;
}

@media (min-width: 768px) {
    .dc-select-menu {
        margin-right: 15px;
    }
}

.filters {
    margin-bottom: 10px;
}

.filterTitles {
    color: #808589;
    font-size: 16px;
    font-weight: 400;
    padding-bottom: 10px;
}

/* numberDisplays */
.NumberDisplays {
    background-color: transparent;
    margin-top: 15px;
    margin-bottom: 15px;
    padding: 0px;
}

.panel-widget .large {
    font-size: 2em;
}

.panel-widget .text-muted {
    margin-top: 0px;
}

/* colors number displays icons */
.color-lightblue {
    color: #30a5ff;
}

.color-blue {
    color: #006B99;
}

.color-green {
    color: #0E9E8D;
}

.color-yellow {
    color: #F2C44F;
}

.color-orange {
    color: #F4994E;
}

.color-red {
    color: #E86443;
}

.color-purple {
    color: rgb(131, 27, 150)
}

/* text color */
.text-muted {
    color: #a7a1a1;
}

.border-right {
    border: none;
}

/*chart panels*/
.panel-widget {
    padding: 0px;
}

.panel-default {
    margin-right: 0px;
}

@media (min-width: 768px) {
    .panel-default {
        margin-right: 15px;
    }
}

.panel-heading {
    height: 100%;
    font-size: 1.1em;
    line-height: 20px;
    margin: 0px;
}

.pull-right {
    text-align: right;
}

.panel-toggle {
    border: none;
    color: #30a5ff;
    background: transparent;
}

.panel-toggle:hover {
    background: transparent;
    color: #52a9ec;
}

/* Charts */
div.dc-chart {
    float: none;
}

/* legends */
.dc-legend-item {
    font-size: 0.8em;
}

/*charts axis style*/
.dc-chart .axis path, .dc-chart .axis line {
    stroke-width: 0.5px;
}

/* rowChart text color updated */
.dc-chart g.row text {
    fill: rgb(0, 0, 0);
}

/* axis charts max and min temperature & total budget */
#dailyBudget_Temp .x.axis text {
    text-anchor: end !important;
    transform: rotate(-45deg);
    font: 7px sans-serif;
}

.x-axis-label, .y-axis-label {
    font-weight: bold;
    font-size: 0.7em;
}


@media (min-width: 768px) {
    #dailyBudget_Temp .x.axis text {
        font: 10px sans-serif;
    }
    .x-axis-label, .y-axis-label {
        font-weight: bold;
        font-size: 0.9em;
    }
}

/* table */
.table {
    position: relative;
    table-layout: fixed;
    width: 100%;
    font-size: 0.9em;
    text-align: center;
}

thead {
    background-color: #e6e6e6;
}

th {
    font-size: 9px;
    height: 2em;
    padding-left: 5px;
    text-align: left;
    width: 10%;
}

tr {
    height: 2em;
}

tr td {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 8px;
}

@media (min-width: 768px) {
    th {
        font-size: 12px;
        font-weight: 700;
        height: 5em;
        padding-left: 10px;
        padding-right: 10px
    }
    tr {
        height: 3em;
    }
    tr td {
        font-size: 12px;
    }
}

/* ******************* info-message page ******************** */
#infoMessage {
    width: 70%;
    text-align: center;
}

#infoMessage h2 {
    text-align: center;
    font-weight: 700;
    line-height: 40px;
    font-size: 1.4em;
}

.errorsButtons {
    margin-bottom: 80px;
}

@media (min-width: 768px) {
    #infoMessage {
        width: 50%;
    }
    #infoMessage h2 {
        font-size: 2.2em;
    }
    .errorsButtons {
        margin-bottom: 0px;
    }
}

/* link to template in the footer */
.footer a {
    text-decoration: none;
}

/*class used with jQuery*/
/*the hide class is used with jQuery to hide/show the sections in the website*/
.hide {
    display: none;
}